body {
    background-color: #f3f3f3;
    color: #000;
}

.file {
    position: relative;
    display: inline-block;
    background: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background-color: #449d44;
    border-color: #398439;
    text-decoration: none;
    color: #fff;
}

.inline {
    display: inline;
}

input.dropdown, .dropdown {
    position: absolute;
    display: inline;
    top: 0;
    left: 200px;
}

.selectFile {
    border-color: #3c763d;
}

option {
    -webkit-appearance: none;
    appearance: none;
}

option:hover {
    background-color: #5cb85c;
    color: #fff;
}

.selectFile:focus {
    border-color: #2b542c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.numberInput {
    border-color: #3c763d;
}

.numberInput:focus {
    border-color: #2b542c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.form-control {
    display: inline;
    width: 150px;
    height: 30px;
}

.leftFloat {
    float: left;
}

.rightFloat {
    float: right;
}

.greyColor {
    color: #4cae4c;
}

.fontColor {
    color: #000;
}

.selectFileDiv {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 1000px;
    height: 30px;
}

.target {
    position: absolute;
    top: 40px;
    width: 1260px;
    height: 250px;
    left: 5px;
}

.compare {
    position: absolute;
    top: 340px;
    width: 1260px;
    height: 250px;
    left: 5px;
}

.displayChart {
    position: absolute;
    width: 620px;
    height: 250px;
    border: 1px solid #3c763d;
    background-color: #f3f3f3;
}

#kChartTarget,
#kChartTarget2 {
    left: 5px;
}

#amountTarget,
#amountTarget2 {
    right: 5px;
}

.selectButton {
    position: absolute;
    top: 300px;
    width: 1100px;
    height: 200px;
    left: 10px;
}

.margin-right {
    margin-right: 30px;
}

.numberInput {
    width: 70px;
    height: 25px;
}

.selectButton .radio {
    margin-top: 0;
}

.selectButton .radio label {
    padding-left: 5px;
}

.mybtn {
    height: 30px;
    width: 70px;
    text-align: center;
}

.import-btn {
    height: 30px;
    width: 100px;
    text-align: center;
    margin-right: 30px;
}