@charset "utf-8";
/* CSS Document */

a.button {
	position: relative;
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgb(255,144,38);


	font-size: 14px;
	display: block;
	padding: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 14px;
	-webkit-box-shadow: 0px 9px 0px rgb(255,128,0), 0px 9px 25px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 9px 0px rgb(255,128,0), 0px 9px 25px rgba(0,0,0,.7);
	box-shadow: 0px 9px 0px rgb(255,128,0), 0px 9px 25px rgba(0,0,0,.7);
	margin: 10px auto;
	width: 85px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

a.button:active {
	-webkit-box-shadow: 0px 3px 0px rgb(255,128,0), 0px 3px 6px rgba(0,0,0,.9);
	-moz-box-shadow: 0px 3px 0px rgb(255,128,0), 0px 3px 6px rgba(0,0,0,.9);
	box-shadow: 0px 3px 0px rgb(255,128,0), 0px 3px 6px rgba(0,0,0,.9);
	position: relative;
	top: 6px;
}
